<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khmelenko.lab.mester" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MesterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main screen -->
        <activity
            android:name=".activity.MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Project screen -->
        <activity
            android:name=".activity.management.AddProjectActivity_"
            android:label="@string/add_project_title" >
        </activity>

        <!-- TestCases screen -->
        <activity
            android:name=".activity.management.TestcasesActivity_"
            android:label="@string/title_activity_testcases" >
        </activity>

        <!-- Add testcase screen -->
        <activity
            android:name=".activity.management.AddTestcaseActivity_"
            android:label="@string/title_activity_add_testcase" >
        </activity>

        <!-- Steps screen -->
        <activity
            android:name=".activity.management.StepsActivity_"
            android:label="@string/title_activity_steps" >
        </activity>

        <!-- Add step screen -->
        <activity
            android:name=".activity.management.AddStepActivity_"
            android:label="@string/title_activity_add_step" >
        </activity>

        <!-- Settings screen -->
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <!-- Project management -->
        <activity
            android:name=".activity.management.ProjectManagementActivity_"
            android:label="@string/title_activity_project_management" >
        </activity>

        <!-- Testing results -->
        <activity
            android:name=".activity.testing.TestingResultsActivity_"
            android:label="@string/title_activity_testing_results" >
        </activity>

        <!-- New testing -->
        <activity
            android:name=".activity.testing.NewTestingActivity_"
            android:label="@string/title_activity_new_testing" >
        </activity>

        <!-- Testing test -->
        <activity
            android:name=".activity.testing.TestActivity_"
            android:label="@string/title_activity_test" >
        </activity>

        <!-- Testing details activity -->
        <activity
            android:name=".activity.testing.TestingDetailsActivity_"
            android:label="@string/title_activity_testing_details" >
        </activity>
    </application>

</manifest>
